apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-configmap
  labels:
    app: hello-configmap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-configmap
  template:
    metadata:
      labels:
        app: hello-configmap
    spec:
      containers:
      - name: hello-configmap
        image: marcoamador/hello:1
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: configs
        volumeMounts:
        - name: configs-volume
          mountPath: /app/config.yaml
          subPath: config.yaml
      volumes:
      - name: configs-volume
        configMap:
          name: configs-file
